{% extends 'core/base.html' %}

{% load static %}

{% block contenidoprincipal %}

<div class="container">
    <div class="row">
    <h2>Mascotas rescatadas</h2>
     {% for m in disponible %}
        <a class="col m4 s12 modal-trigger waves-green box-pets-galery-galery" href="#modal{{m.id}}">  
           <div class=" col s12 z-depth-2 box-pets-galery"> 
            <img class="responsive-img" src="{{m.foto.url}}" alt="my image" title="my image" />
                <span class="col s12">{{m.nombre}}</span>
            </div>
        </a>

         <div id="modal{{m.id}}" class="modal">
            <div class="modal-content">
                <h4>{{m.nombre}}  
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
                </h4>
                <div class="col m5 s12">
                    <img class="responsive-img" src="{{m.foto.url}}" alt="my image" title="my image" />
                </div>

                <div class="col m7 s12">
                    <h5>{{m.nombre}}</h5>
                    <p>
                        <ul>
                            <li>Raza:  {{m.raza}} </li>
                            <li>Estado: {{m.estado}}</li>
                        </ul>
                    </p>
                    <hr>
                    <h5>Descripción</h5>
                    <p>
                    {{m.descripcion}}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock contenidoprincipal %}